h1 {
    margin-top: 100px;
    font-size: 34pt;
    font-family: Segoe UI Light;
    color: #111594;
    padding-bottom: 15px;
    text-align: center;
}

.button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}