.button {
    margin-top: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #111594;
    padding: 8px;
    border-radius: 8px;

    font-size: 22pt;
    font-family: Segoe UI Light;
    color: #053fe4;

    width: 280px;
}

.button:hover {
    background-color: #0d13d6;
    color: white;
}

.button:focus {
    outline: none;
}



