h1 {
    font-size: 34pt;
    font-family: Segoe UI Light;
    color: #111594;
    padding-bottom: 15px;
    text-align: center;
}

h3 {
    font-size: 26pt;
    font-family: Segoe UI Light;
    color: #111594;
    padding-bottom: 15px;
    text-align: center;
}

#buttons {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    margin-top: 10px;
}