input[type=text],
input[type=password] {
    width: 30%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text]:focus,
input[type=password]:focus {
    outline-color: #0d13d6;
}

select {
    padding: 2px 2px;
    padding-right: 18px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 12pt;
    font-family: Segoe UI Light;
}