{
padding: 0;
margin: 0;
}

canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
    margin-top: 28px;
}

#wrapper {
    text-align: center !important;
}

#scoreLabel {
    display: inline-block;
}