@CHARSET "ISO-8859-1";

.error-message,
.message {
    margin-top: 20px !important;
	margin: 0px auto;
}

.username:hover {
    background-color: #0d13d6;
    color: white;
    cursor: pointer;
}

h1 {
    font-size: 34pt;
    font-family: Segoe UI Light;
    color: #111594;
    padding-bottom: 15px;
    text-align: center;
}

#ranklist,
#userList {
    width: 100%;
    height: 100%;

    width: 60%;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 24px;
}

.caption,
#userList th,
#userList td,
#ranklist th,
#ranklist td {
    text-align: center;
}

.caption {
    font-size: 25pt;
    font-family: Segoe UI Light;
    color: #111594;
    padding-bottom: 15px;
}

td,
th {
    padding: 2px;
}

th {
    background-color: #111594;
    color: white;
    height: 25px;
}

td {
    font-family: Segoe UI Light;
    font-size: 12pt;
    color: #111594;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}
