body {
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111594;
    line-height: normal;
 }

 li {
    float: left;
 }

 li a {
    display: block;
    color: white !important;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none !important;

     font-size: 12pt;
     font-family: Segoe UI Light;
 }

 li a:hover:not(.active) {
     background-color: #0d13d6;
 }

 .active {
     background-color: #0d13d6;
 }