h1 {
    font-size: 34pt;
    font-family: Segoe UI Light;
    color: #111594;
    padding-bottom: 15px;
}

select {
    padding: 2px 2px;
    padding-right: 18px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 12pt;
    font-family: Segoe UI Light;
}

#emailFailedMessage {
    display: none;
}