#stopEditAdmin {
    display: none;
}

#stopEdit {
    display: none;
}

.button {
    margin-top: 10px;
}

h1 {
    font-size: 34pt;
    font-family: Segoe UI Light;
    color: #111594;
    padding-bottom: 15px;
}
