#stopEdit {
    display: none;
}

#deleteButton {
    display: none;
}

#selectRole {
    display: none;
}

select {
    padding: 2px 2px;
    padding-right: 18px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 12pt;
    font-family: Segoe UI Light;
}

.divButton {
    display: flex;
    align-items: center;
    justify-content: center;
}


